<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<%# contentFor('styles') %>
<%# contentFor('body') %>
<main>
    <!-- Spinner Start -->
    <%- include("partials/spinner") %>
    <!-- Spinner End -->

    <!-- Error 404 -->
    <%- include("partials/404") %>
    <!-- Page Header End -->
        
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <%- include("partials/libraries") %>
    <!-- END Javascript Libraries -->
</main>