<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<%# contentFor('styles') %>
<%# contentFor('body') %>
<main>
    <!-- Spinner Start -->
    <%- include("partials/spinner") %>
    <!-- Spinner End -->

    <!-- Page About Banner Start -->
    <%- include("partials/aboutbanner") %>
    <!-- About Bannerr End -->

    <!-- Service Start -->
    <%- include("partials/servicios") %>
    <!-- Service End -->

    <!-- About Start -->
    <%- include("partials/about") %>
    <!-- About End -->

    <!-- Statics -->
    <%- include("partials/statics") %>
    <!-- Fact End -->

    <!-- Team Start COMENTATDO CON #-->
    <%- include("partials/team") %>
    <!-- Team End -->
        
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <%- include("partials/libraries") %>
    <!-- END Javascript Libraries -->
</main>