<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("partials/head") %>
<!--/Head-->

<body>
    <!-- Spinner Start -->
    <%- include("partials/spinner") %>
    <!-- Spinner End -->

    <!--Topbar-->
    <%- include("partials/topbar") %>
	<!--/Topbar-->

    <!-- Footer Start -->
    <%- include("partials/navbar") %>
    <!-- Footer End -->

    <!-- Carousel Start -->
    <%- include("partials/carousel") %>
    <!-- Carousel End -->

    <!-- Service Start -->
    <%- include("partials/servicios") %>
    <!-- Service End -->

    <!-- About Start -->
    <%- include("partials/about") %>
    <!-- About End -->

    <!-- Statics -->
    <%- include("partials/statics") %>
    <!-- Fact End -->

    <!-- Service Start -->
    <%- include("partials/services") %>
    <!-- Service End -->

    <!-- Booking Start -->
    <%- include("partials/booking") %>
    <!-- Booking End -->

    <!-- Team Start COMENTATDO CON #-->
    <%# include("partials/team") %>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <%# include("partials/testimonios") %>
    <!-- Testimonial End -->

    <!--Call to Action-->
    <%- include("partials/cta") %>
    <!--Call to Action End-->

    <!-- Footer Start -->
    <%- include("partials/footer") %>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/home/lib/wow/wow.min.js"></script>
    <script src="/home/lib/easing/easing.min.js"></script>
    <script src="/home/lib/waypoints/waypoints.min.js"></script>
    <script src="/home/lib/counterup/counterup.min.js"></script>
    <script src="/home/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/home/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/home/ib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/home/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/home/js/main.js"></script>
</body>

</html>