<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<%# contentFor('styles') %>
<%# contentFor('body') %>
<main>
    <!-- Spinner Start -->
    <%- include("partials/spinner") %>
    <!-- Spinner End -->

    <!-- Carousel Start -->
    <%- include("partials/carousel") %>
    <!-- Carousel End -->

    <!-- Service Start -->
    <%- include("partials/servicios") %>
    <!-- Service End -->

    <!-- About Start -->
    <%- include("partials/about") %>
    <!-- About End -->

    <!-- Statics -->
    <%- include("partials/statics") %>
    <!-- Fact End -->

    <!-- Service Start -->
    <%- include("partials/services") %>
    <!-- Service End -->

    <!-- Booking Start -->
    <%- include("partials/booking") %>
    <!-- Booking End -->

    <!-- Team Start COMENTATDO CON #-->
    <%# include("partials/team") %>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <%# include("partials/testimonios") %>
    <!-- Testimonial End -->

    <!--Call to Action-->
    <%- include("partials/cta") %>
    <!--Call to Action End-->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <%- include("partials/libraries") %>
    <!-- END Javascript Libraries -->
</main>