<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<%# contentFor('styles') %>
<%# contentFor('body') %>
<main>

	<!-- testimonials -->
	<%- include("partials/testimonios") %>
	<!-- testimonials -->

</main>

<%- contentFor('scripts') %>